.info {
    padding: 8px 12px;

    font: 14px/16px system-ui;
/*    background: black;*/
/*    background: rgba(255,255,255);*/
/*    background-color: #2e2e2ed6;*/
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;

}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}